@font-face {
  font-family: myFont;
  src: url(Geskal.ttf);
}
@font-face {
  font-family: takCubit;
  src: url(Tak-Cubit.ttf);
}
@font-face {
  font-family: heviatas;
  src: url(Heavitas.ttf);
}
@font-face {
  font-family: noodle;
  src: url(Super_Noodles.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #FFF9C4;
  background-image: url('design.png');
  background-size: auto;
  padding-top: 80px;
}


.header {
  background-color: #F5D142;
  background-size:contain;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000; /* Atur z-index header lebih tinggi */
  position: -webkit-sticky; /* For Safari */
  position: fixed;
  top: 0; /* Sticks to the top of the viewport */
}


.gambar {
  margin: 10px 50px;
  display: flex;
  align-items: center;
  gap: 10px; /* Menambahkan jarak antara gambar dan teks */
}

.vertikal-line {
  width: 1px;
  height: 55px;
  background-color: black;
}

.gambar h5 {
  font-family: noodle;
  font-size: 20px;
  color: #B22222;

}

.section {
  margin: 0px 80px;
}

.section ul {
  list-style-type: none;
  display: flex;
  gap: 20px; /* Menambahkan jarak antar item menu */
  margin-bottom: 30px;

}
.section ul.active {
  height: auto; /* Change to 'auto' to fit the content */
}
.section li a {
  font-family: noodle;
  font-size: 15px;
  display: block;
  color: black;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  position: relative;
  overflow: hidden; /* Untuk mengatur overflow pseudo-element */
}

.section li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ca3433;
  bottom: 0;
  left: -100%;
  transition: left 0.3s ease-in-out;
}

.section li a:hover {
  color: #ca3433;
}

.section li a:hover::after {
  left: 0;
}
@media (max-width: 768px) {
  .gambar {
      margin: 10px 20px;
  }

  .gambar img {
      width: 50px; /* Adjust width for mobile view */
  }

  .gambar h5 {
      font-size: 10px; /* Adjust font size for mobile view */
  }
}
.menu-icon{
  display: none;
}

.menu-icon i{
  color: black;
  font-size: 28px;
}

@media (max-width:1062px) {
  body {
    overflow-x: hidden;
    background-color: #FFF9C4;
    background-image: url('design.png');
    background-size: auto;
    padding-top: 0;
  }
  .header {
    background-color: #F5D142;
    background-size:contain;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000; /* Atur z-index header lebih tinggi */
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Sticks to the top of the viewport */
  }
  .section ul{
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      flex-direction: column;
      background: #F5D142;
      gap: 0;
      height: 500px;
      overflow: hidden;
      font-size: 5px;
  }
  .section ul li a {
      font-size: 15px;
  }
  .section ul li{
      padding: 20px;
  }
  .section li a::after {
    display: none;
  }
  .section ul.active{
      height: auto;
  }
  .menu-icon{
      display: block;
      position: absolute;
      top: 20px;
      right: 40px;
  }
  #menuList{
      transition: all 0.5s;
  }
}
.slides {
  width: 90%;
  position: relative;
  margin: 50px auto; /* Remove margin */
  padding: 0; /* Remove padding */
}

.slides .slide{
  display: none;
}

.slides .slide img{
  width: 100%;
  animation-name: fade;
  animation-duration: 1.5s;
  margin: 0;
  padding: 0;
  display: grid;  
  border-radius: 20px;
}

.slides .navigation{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slides .navigation .prev, .slides .navigation .next{
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 40px;
  color: white;
  user-select: none;
  transition: 0.6s ease;
}

.slides .navigation .prev:hover, .slides .navigation .next:hover{
  color: #F5D142;
}
.bullets {
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active, .dot:hover {
  background-color: #717171;
}
@keyframes fade {
  from{opacity: 0.3}
  to {opacity: 1}
}

@media (max-width: 992px){
  .slides {
    width: 100%;
    position: relative;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }
  .slides .navigation .prev, .slides .navigation .next{
    font-size: 18px;
    padding: 13px;
  }
  .slides .slide img{
    width: 100%;
    animation-name: fade;
    animation-duration: 1.5s;
    margin: 0;
    padding: 0;
    display: grid;  
    border-radius: 0;
  }
}

@media (max-width: 768px){
  .slides {
    width: 100%;
    position: relative;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }
  .slides .navigation .prev, .slides .navigation .next{
    font-size: 15px;
    padding: 10px;
  }
  .slides .slide img{
    width: 100%;
    animation-name: fade;
    animation-duration: 1.5s;
    margin: 0;
    padding: 0;
    display: grid;  

  }
}

@media (max-width: 576px){
  .slides {
    width: 100%;
    position: relative;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }
  .slides .navigation .prev, .slides .navigation .next{
    font-size: 12px;
    padding: 7px;
  }
  .slides .slide img{
    width: 100%;
    animation-name: fade;
    animation-duration: 1.5s;
    margin: 0;
    padding: 0;
    display: grid;  

  }
}

@media (max-width: 360px){
  .slides {
    width: 100%;
    position: relative;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }
  .slides .navigation .prev, .slides .navigation .next{
    font-size: 11px;
    padding: 6px;
  }
  .slides .slide img{
    width: 100%;
    animation-name: fade;
    animation-duration: 1.5s;
    margin: 0;
    padding: 0;
    display: grid;  

  }
}



/* Parallax effect for About Us section */
.section1.parallax {
  position: relative;
  background-image: url(section.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-bottom: 100px; /* Add padding to ensure space for .gambar3 */
}

.section1.parallax .text-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.section1.parallax .text {
  font-family: heviatas;
  font-size: 50px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
               5px 5px 70px rgba(255, 255, 255, 0.5);
  position: relative;
  transition: z-index 0.5s;
  top: 50px;
}

.section1.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
@media (max-width: 768px) {

  .section1.parallax .text {
    font-family: heviatas;
    font-size: 35px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
                 5px 5px 70px rgba(255, 255, 255, 0.5);
    position: relative;
    transition: z-index 0.5s;
    top: 50px;
  }
}

.isi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 100px;
}

.gambar1 {
  display: flex;
  align-items: center;
  text-align: left;
}

.gambar1 img {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  height: auto;
  border-radius: 20px;
}

.vertikal-line1 {
  width: 2px;
  height: 100px;
  background-color: black;
  margin: 0 20px;
}

.teks1 {
  max-width: 500px;
  margin: 20px;
  font-family: noodle;
  font-size: 13px;
}

@media (max-width: 992px) {
  .gambar1 {
    flex-direction: row;
    text-align: center;
  }
  
  .vertikal-line1 {
    height: 50px;
  }
  
  .teks1 {
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .isi {
    flex-direction: column;
    padding: 10px;
  }

  .gambar1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .gambar1 img {
    max-width: 80%;
    margin-bottom: 10px;
  }

  .vertikal-line1 {
    width: 100%;
    height: 2px;
    margin: 10px 0;
  }

  .teks1 {
    max-width: 100%;
    text-align: center;
    padding: 10px;
  }

  .teks1 p {
    font-size: 0.9em;
  }
}
@media (max-width: 576px) {
  .gambar1 img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .vertikal-line1 {
    width: 100%;
    height: 1px;
  }
  
    .teks1 {
      max-width: 100%;
      font-family: noodle;
      font-size: 13px;
    }
    .teks1 p{
      width: 300px;
    }
}



.menu-favorit {
  text-align: center;
  padding: 50px 0; /* Padding atas dan bawah untuk memberikan ruang */
  background-color: #f9f9f9; /* Warna latar belakang untuk kontras */
}


.menu-item {
  display: inline-block;
  width: 30%;
  margin: 15px;
  text-align: center;
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.menu-item h1 {
  font-size: 1em;
  margin-top: 10px;
}

.menu-item p {
  font-size: 15px;
  margin-top: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.menu-favorit {
  font-family: noodle;
  background-color: #FFF9C4;
  background-image: url(design.png);
}

.btn {
  margin-top: 10px;
}
.button {
  cursor: pointer;
  border: 0;
  background: #ee6352;
  color: white;
  padding: 1em 2em;
  position: relative;
  border-radius: 10px;
  font-family: heviatas;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
  z-index: 1; /* Pastikan overlay berada di bawah teks */
}

.button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.button span {
  position: relative;
  z-index: 2; /* Pastikan teks berada di atas overlay */
}
@media (max-width: 1022px) {
  .menu-item {
    display: block;
    width: 70%;
    margin: 50px auto;
    text-align: center;
  }

  .menu-item h1 {
    font-size: 1em;
    margin-top: 10px;
  }

  .menu-item p {
    font-size: 0.8em;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
  }

}
@media (max-width: 768px) {
  .menu-item {
    display: block;
    width: 90%;
    margin: 20px 0px 0px 0px auto;
  }

  .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }


}


.section2.parallax {
  position: relative;
  background-image: url(section.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-bottom: 100px; /* Add padding to ensure space for .gambar3 */
}

.section2.parallax .text-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.section2.parallax .text {
  font-family: heviatas;
  font-size: 50px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
               5px 5px 70px rgba(255, 255, 255, 0.5);
  position: relative;
  transition: z-index 0.5s;
  top: 50px;
}

.section2.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
@media (max-width: 768px) {
  .section2.parallax .text {
    font-family: heviatas;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
                 5px 5px 70px rgba(255, 255, 255, 0.5);
    position: relative;
    transition: z-index 0.5s;
    top: 50px;
  }
  
}
.isian {
 height: 100vh;
}

.testimonials{
  padding: 40px 0;
  background: #FFF9C4;
  color: #434343;
  text-align: center;
  background-image: url(design.png);
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
  z-index: 1;
}
.testimonial {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan */
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.testimonial p {
  font-family: noodle;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
  font-family: noodle;
}
.stars{
  color: gold;
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}
footer{
  background-color: #F5D142;
  z-index: 3;
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
  transition: 0.5s;
}
.socialIcons a:hover .fa-facebook {
  color: #3b5998; /* Warna Facebook saat di-hover */
}

.socialIcons a:hover .fa-instagram {
  background: linear-gradient(45deg, #f58529, #feda77, #dd2a7b, #8134af, #515bd4);
  -webkit-background-clip: text;
  color: transparent;
}

.socialIcons a:hover .fa-twitter {
  color: #1da1f2; /* Warna Twitter saat di-hover */
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:black;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
  font-family: noodle;
}
.footerNav ul li a:hover{
  opacity: 1;
  color: #ca3433;
}
.footerBottom{
  background-color: #FFEB3B;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: black;
  font-family: noodle;
  font-size: 10px;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
  color: #ca3433;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
}

.section4.parallax {
  position: relative;
  background-image: url(section.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  width: 30%;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-bottom: 100px; /* Add padding to ensure space for .gambar3 */
}

.section4.parallax .text-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;

}

.section4.parallax .text {
  font-family: heviatas;
  font-size: 50px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
               5px 5px 70px rgba(255, 255, 255, 0.5);
  position: relative;
  transition: z-index 0.5s;
  top: 50px;
  display: inline;
  border-bottom: 3px solid white;
}

.section4.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
@media (max-width: 768px) {
  .section4.parallax .text {
    font-family: heviatas;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
                 5px 5px 70px rgba(255, 255, 255, 0.5);
    position: relative;
    transition: z-index 0.5s;
    top: 50px;
  }
  
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: black;
  padding: 20px; /* Optional: for better visualization */
  margin: 100px;

}
.lokasi {
  max-width: 500px;
}
.lokasi h1 {
  font-size: 40px;
  color: black;
  margin-bottom: 10px;
  text-align: start;
}

.lokasi p {
  font-size: 16px;
  line-height: 2;
}

section h1 {
  font-size: 2em;
  font-family: heviatas;
}
section p {
  font-size: 1em;
  font-family: noodle;
}
.maps {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #ca3433; /* Background color */
  border-radius: 2em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: 0.3s ease-in-out;
}

.maps img {
  border-radius: 2em;
  border: none;
  width: 600px;
  height: 400px;
  transition: 0.3s ease-in-out;
}

.maps img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.jam-operasional p {
  font-weight: bold;
  font-size: 25px; /* Anda bisa menyesuaikan ukuran font sesuai kebutuhan */
  font-family: heviatas;
}